	/* CSS Document */

	

	*

	{

	margin:0;

	padding:0;

	}

	

	body

	{

	padding-top:0px;

	font-family:Arial, Helvetica, sans-serif;

	font-size:13px;

	line-height:22px;

	color:#4c4b4b;

	}

	

	.clear

	{

	clear:both;

	}

	

	#main-container

	{

	width:680px;

	height:auto;

	margin:0 auto;

	}

	

	#header

	{

	width:680px;

	height:auto;

	float:left;

	}

	

	#logo

	{

	background:url(bilty_logo.jpg) no-repeat;

	width:144px;

	height:75px;

	float:left;

	}

	

	#heading

	{

	width:680px;

	height:auto;

	float:left;}

	

	h1

	{

	font-family:Arial, Helvetica, sans-serif;

	font-size:29px;
	line-height:30px;

	font-weight:bold;

	color:#000;

	text-transform:uppercase;

	text-align:center;

	}

	

	.small

	{

	font-family:Arial, Helvetica, sans-serif;

	font-size:14px;

	text-transform:uppercase;

	text-align:center;

	}

	

	#contact-no

	{

	font-size:13px;

	font-weight:bold;

	width:170px;

	text-align:left;

	height:auto;

	float:right;

	}

	

	

	

	

	#address

	{

	width:680px;

	text-align:center;

	line-height:24px;

	font-size:13px;

	float:left;

	height:auto;

	}
	
	.font16
	{
	font-size:16px;
	font-weight:bold;
	}

	

	#book-no

	{

	height:25px;

	line-height:25px;

	text-align:left;

	width:680px;

	}

	

	#address-left

	{

	width:328px;

	height:auto;

	float:left;

	}

	

	.font-18

	{

	font-size:18px;

	font-weight:normal;

	}

	

	.font-14

	{

	font-weight:bold;

	font-size:14px;

	}

	

		.font-11

	{

	line-height:15px;

	font-size:11px;

	font-weight:normal;

	}



	.caution

	{

	border:1px solid #c6c5c5;

	padding:6px;

	width:179px;

	height:auto;

	float:left;

	}

	

	.to

	{

	border:1px solid #c6c5c5;

	padding:6px;

	width:209px;

	height:auto;

	float:left;

	}

	

	.consignor

	{

	width:526px;

	height:auto;

	float:left;

	}

	

	.bg { clear:both; border-bottom:1px solid #dedede; padding:0; margin:7px 0; background:none; list-style:none;}

	

		.newspaper-d

{

	font-family:Arial, Helvetica, sans-serif;

	font-size: 15px;

	margin: 0px 0 0 0;
	border-collapse: collapse;

	border: 1px solid #c6c5c5;

}

.newspaper-d th

{

	padding:4px;

	font-weight:normal;

	font-size: 15px;

	color: #000;

		border-right: 1px solid #c6c5c5;

	border-top: 1px solid #c6c5c5;

	border-left: 1px solid #c6c5c5;

	border-bottom: 1px solid #c6c5c5;

}

.newspaper-d td

{

	border-bottom:1px solid #c6c5c5;

	padding: 8px 8px;

	line-height:15px;

	color: #000;

	border-right: 1px dashed #c6c5c5;

}
.newspaper-d table.nobod td

{

	border-bottom:none !important;
	color: #000;
    border-right:none !important;
	border:none !important;

}




.bg { clear:both; border-bottom:1px solid #dedede; padding:0; margin:15px 0; background:none; list-style:none;}



.hight

{

height:500px;

}	



		.newspaper-e

{

	font-family:Arial, Helvetica, sans-serif;

	font-size: 13px;

	margin: 0px 0 0 0;

	float:right;

	width: 425px;

	border-collapse: collapse;

	border: 1px solid #c6c5c5;

}

.newspaper-e th

{

	padding: 0px;

	font-weight:normal;

	font-size: 12px;

	color: #fff;

		border-right: 1px solid #c6c5c5;

	border-top: 1px solid #c6c5c5;

	border-left: 1px solid #c6c5c5;

	border-bottom: 1px solid #c6c5c5;

}

.newspaper-e td

{

	border-bottom:1px solid #c6c5c5;

	padding: 8px 8px;

	line-height:10px;

	color: #000;

	border-right: 1px dashed #c6c5c5;

}





#iner-container{

height:auto;

width:680px;

float:left;

}

.left-panel

{

height:auto;

width:528px;

float:left;

}





.right-panel

{

height:auto;

width:448;

float:left;

}

 